<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= title %>
    </title>
    <style>
      a {
        color: white;
        transition: color 0.5s;
        text-decoration: none;
      }
    </style>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b82edda17a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/bootstrap.js" defer></script>
  </head>
  <body>
    <nav class="sticky-top navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" id="logo" alt="Logo" class="d-inline-block align-text-top">
        </a>
        <h1 class="logo-text">Little Italy</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <% let tot = 0; for (let pizza of order.items.pizzas){tot += pizza.quantity }%>
            <div class="nav-container">
              <li class="nav-item">
                <a class="nav-link bebas" id="menuHead" href="/order">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/order/cart">
                  <i id="cart-icon" class="nav-link fa-solid fa-cart-shopping">
                    <span class="cart-indicator " disabled <% if(!tot){ %> style="visibility:hidden;" <%}%> > <%- tot %> </span>
                  </i>
                </a>
              </li>
            </div>

          </ul>
        </div>
      </div>
    </nav>