<%- include('partials/header') %>

<div class="mt-3 mb-3" style="display:flex; flex-direction: column; align-items: center; justify-content: center; height: 80vh;" >
    <h1 class="text-center">Error <%= error.status %></h1>
    <h2 class="text-center">Looks like you did not find you were looking for.</h2>
    <h2 class="text-center">Grab a slice on your way back to the Menu.</h2>
    <img class="my-3 img-responsive img-resize rounded-circle" src="/images/error/404.png" alt="Error 404 image">
    <a href="/order" class="btn btn-primary btn-lg my-3">Return to Menu</a>
</div>

<%- include('partials/footer') %>