<%- include('partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <img src="https://img.pizza/300/300" alt="mmm pizza">
  </br>
  </br>
  <a href="/order">Make your order!</a>




  <%- include('partials/footer') %>