<%- include('partials/header') %>

  <main>
    <div class="container-lg my-5">
      <div class="row my-4">
        <div class="col-md-8">
          <div class="card bg-dark text-white  ">
            <video video autoplay loop muted playsinline class=" img-resize">
              <source src="/images/landing/pizza-landing.mp4" type="video/mp4">
              Error loading video
            </video>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white">
            <img class="card-img img-responsive img-resize" src="/images/landing/landingpizza1.jpg" alt="Card image">
            <a href="/order">
              <div class="card-img-overlay">
                <div class="ad-grid">
                  <h5 class="card-title headline">The all time favourite</h5>
                  <p class="card-text heading">PEPPERONI PIZZA</p>
                  <p class="card-text price">$12</p>
                  <button class="btn btn-primary orderNow">ORDER NOW</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card bg-dark text-white">
            <img class="card-img img-responsive img-resize" src="/images/landing/landingpizza2.jpg" alt="Card image">
            <a href="/order">
              <div class="card-img-overlay ">
                <div class="ad-grid">
                  <h5 class="card-title headline">Decadent extra garlic</h5>
                  <p class="card-text heading">CAPRESE PIZZA</p>
                  <p class="card-text price">$14</p>
                  <button class="btn btn-primary orderNow">ORDER NOW</button>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white">
            <img class="card-img img-responsive img-resize" src="/images/landing/landingpizza3.jpg" alt="Card image">
            <a href="/order">
              <div class="card-img-overlay">
                <div class="ad-grid">
                  <h5 class="card-title headline">Always fresh and local</h5>
                  <p class="card-text heading">VEGGIE PIZZA</p>
                  <p class="card-text price">$14</p>
                  <button class="btn btn-primary orderNow">ORDER NOW</button>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white">
            <img class="card-img img-responsive img-resize" src="/images/landing/landingpizza4.jpg" alt="Card image">
            <a href="/order">
              <div class="card-img-overlay">
                <div class="ad-grid">
                  <h5 class="card-title headline">Cotto on the classic</h5>
                  <p class="card-text heading">PROSCIUTTO PIZZA</p>
                  <p class="card-text price">$15</p>
                  <button class="btn btn-primary orderNow">ORDER NOW</button>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>