<%- include('partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>


  <br>
  <form method="GET" action="/order">
    <button type="submit" class="btn btn-primary btn-sm">Order Now</button>
  </form>

  <br>
  <img src="https://img.pizza/600/300" alt="mmm pizza" >

  <%- include('partials/footer') %>