<%- include('partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>

  <a href="/order">order now</a>
  <br>
  <br>
  <img src="https://img.pizza/300/300" alt="mmm pizza" style="width: 200px;">

  <%- include('partials/footer') %>