<%- include('../partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= title %>
  </p>

  </br>
  <a href="/order/builder"> --> BUILD YOUR OWN PIZZA <--</a>
  </br>
  </br>
  </br>
  <a href="/order/CART"> --> CART <-- </a>

 <%- include('../partials/footer') %>