<%- include('../partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= title %>
  </p>

  </br>


  <form method="GET" action="/order/builder">
    <button type="submit" class="btn btn-primary btn-sm">Create Your Own Pizza</button>
  </form>

  </br>

  <form method="GET" action="/order/cart">
    <button type="submit" class="btn btn-secondary btn-sm">Cart</button>
  </form>



  <%- include('../partials/footer') %>