<%- include('../partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= title %>
  </p>
  <button>Create and Add Custom Pizza</button>
  </br>
  </br>
  <button>Add Default Pizza</button>



  <%- include('../partials/footer') %>