* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  background-color: white;
  border: 5px solid red;
}

.nav-link{
    font-size: 30px;
    color: red;
    font-weight: bold;
}

.nav-link:hover{
    color: red;
    text-shadow: .5px .5px .5px black;
}