* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: #B22448;
  --secondary: #231F20;
  --on-primary: #40AC5B;
  --on-secondary: #efe7ce;
  --black: #000;
  --white: #fff;

  /* testing */
  --primary: firebrick;
  --on-primary: red;
  --on-secondary: #d2d6d6;

}

html {
  /* position: relative;
  min-height: 100%; */
  /* height: 100vh; */
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: calc(100vh - 80px);
  background-color: var(--on-secondary);
}


main {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-bottom: 5rem;
  background-color: var(--on-secondary);
  /* height: 90vh; */
}

section {}

footer {
  z-index: 999;
  box-shadow: -0.1em -0.1em 0.5em var(--black);
  border-top: solid 5px var(--on-primary);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  color: var(--white);
  background-color: var(--primary);
}

a {
  color: #ff0000;
}



#prebuiltPizzas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

#prebuiltPizzas>div {}

.navbar {
  background-color: var(--primary);
  border-bottom: 5px solid var(--on-primary);
  box-shadow: 0.1em 0.1em 0.5em rgb(0, 0, 0);
}

.nav-link {
  font-size: 30px;
  color: var(--white);
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--black);
}

.nav-link:hover {
  color: var(--on-primary);
  text-shadow: 1.5px 1.5px 1.5px var(--black);
  box-shadow: 0em 0em 0em var(--black);
}

.navbar-toggler {
  /* border-bottom: 5px solid var(--on-primary);
  box-shadow: 0em 0em 0.1em var(--black); */
}

.card-order {
  height: 200px;
  object-fit: cover;
  object-position: center center;
  display: flex;
  flex-direction: column;
}

.card {
  overflow: hidden;
}


.card-number {
  position: relative;
  top: 1rem;
  left: 1rem;
  background-color: var(--on-primary);
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
}


.cart-summary {
  padding: 1rem;
  position: unset;
  width: unset;
}


.cart-summary>p {
  padding: 0;
}

.cart-summary>div:nth-child(even) {
  background-color: rgb(246, 246, 246);
}

.cart-summary>div:last-child {
  border-top: 2px solid black;
}

.card-order>h5 {
  text-transform: capitalize;
}

.cart-btn-submit {
  bottom: 0;
}

.ad-grid {
  cursor: pointer;
  display: grid;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  font-family: rockwell, sans-serif;
  font-weight: 1000;
  color: var(--white);
  text-shadow: 1px 1px .2px var(--black);
}

.quantity-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.quantity-btns>button {
  width: 2rem;
  box-shadow: none;
}

.quantity-btns>button:nth-child(2) {
  width: 3rem;
  border-radius: 0;
  border: black 1px solid !important;
}

.quantity-left {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right: 0;
}

.quantity-display {}

.quantity-right {
  border-left: 0;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}



.heading {
  font-size: 2vw;
  grid-area: header;
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  text-shadow: -1px 0px black, 1px 0px black, 0px -1px black, 0px 1px black, 5px 3px red;
}

.headline {
  font-size: 2vw;
  grid-area: headline;
  grid-column: 1 / span 1;
  grid-row: 1 / 1;
  text-shadow: -1px 0px black, 1px 0px black, 0px -1px black, 0px 1px black, 5px 3px red;
}

.price {
  position: relative;
  padding: 0.5rem;
  background-color: firebrick;
  border-radius: 50%;
  font-size: 3vw;
  grid-area: price;
  grid-column: 2 / span 1;
  grid-row: 1 / 1;
  text-shadow: -1px 0px black, 1px 0px black, 0px -1px black, 0px 1px black, 5px 3px red;
}

.orderNow {
  grid-area: orderNow;
  grid-column: 2 / span 1;
  grid-row: 3 / 3;
}

#logo {
  border-radius: 25%;
  width: 5rem;
  /* border-bottom: 5px solid var(--on-primary); */
  border-bottom: 3px solid var(--on-primary);
  border-right: 1px solid var(--on-primary);
}

.logo-text {
  font-family: rockwell, sans-serif;
  font-weight: 800;
  color: var(--white);
  text-shadow: 1.5px 1.5px 1.5px var(--black);
  margin: 0;
}

.navbar-toggler:enabled {}

.navbar-toggler:hover {}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.cartHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cartBtn {
  border-radius: 50%;
  font-size: 20px;
  width: 1.8em;
  height: 1.8em;
  padding: 0;
  border: none;
  background-color: red;
  color: white;
  font-weight: bold;
  margin-bottom: -15px;
  z-index: 1;
}

.btn {
  box-shadow: 0.1em 0.1em 0.1em var(--black);
}


.text-primary,
legend {
  color: var(--on-primary) !important;
}

.btn-primary,
.form-check-input:checked {
  background-color: var(--on-primary) !important;
  border-color: var(--black) !important;
}



.container {
  margin: auto;
}

.ad-container {
  padding: 1rem;
}


.flex-column-stretch {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}


.img-resize {
  height: 400px;
  object-fit: cover;
  object-position: center center;
}


div {
  margin: 0;
}


#builder {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.checkout-ctrls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.checkout-ctrls>div>form>button {
  margin: 0 0.5rem;
  width: 4rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: var(--white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--on-primary);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


@media (min-width: 992px) {
  .cart-summary {
    position: fixed;
    width: 15rem;
    max-height: 70vh;
  }

  .cart-summary-body {
    overflow: auto;
    direction: rtl;
  }
}