* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-link{
    font-size: 25px;
    color: red;
    font-weight: bold;
    
}

.nav-link:hover{
    color: red;
    text-shadow: 1px 1px 1px black;
}