<%- include('../partials/header') %>
  <p>Pick up details:</p>
  <p>STORE LOCATION HERE</p>
  <p>PICK UP TIME HERE</p>




  <br>
  <form action="">
    <fieldset>
      <legend>IF PICKUP:</legend>
      <input type="radio" id="large" name="size" value="Large" checked>
      <label for="large">Drive-thru</label><br>
      <input type="radio" id="large" name="size" value="Large" checked>
      <label for="large">In-Store</label><br>
      <fieldset>

        <fieldset>
          <legend>Your info:</legend>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">First name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="first name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Last name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="last name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Phone number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

        </fieldset>
        <fieldset>
          <legend>Payment info:</legend>
          <label for="large">Cardholder Name</label>
          <input type="input" id="firstname" name="firstname"><br>
          <label for="large">Card Number</label>
          <input type="input" id="firstname" name="firstname"><br>
          <label for="large">CVV</label>
          <input type="input" id="firstname" name="firstname"><br>
          <label for="large">Expiration Date (MM/YY)</label>
          <input type="input" id="firstname" name="firstname">
          <label for="large">Zip Code</label>
          <input type="input" id="firstname" name="firstname">
        </fieldset>

  </form>

  <div class="container df p2">
    <h2>Your Order Summary</h2>
    <div class="card" style="width: 18rem;">
      <img src="/crust/thin.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>


  </div>


  <table class="table">
    <thead>

    </thead>
    <tbody>
      <tr>
        <th scope="row">Subtotal:</th>
        <td>$17.99</td>
      </tr>
      <tr>
        <th scope="row">Tax:</th>
        <td>$0.85</td>
      </tr>
      <tr>
        <th scope="row">Tip:</th>
        <td>$5.00</td>
      </tr>
      <tr>
        <th scope="row" class="table-primary">TOTAL:</th>
        <td class="table-primary ">$25.99</td>
      </tr>
    </tbody>
  </table>

  <%- include('../partials/footer') %>