<%- include('../partials/header') %>


  <form action="/order/builder/" method="post">
    <fieldset>
      <legend>Size:</legend>
       <input type="radio" id="large" name="size" value="Large" checked>
       <label for="large">Large</label><br>
       <input type="radio" id="medium" name="size" value="Medium">
       <label for="medium">Medium</label><br>
       <input type="radio" id="small" name="size" value="Small">
       <label for="small">Small</label>
    </fieldset>

    <fieldset>
      <legend>Crust:</legend>
       <input type="radio" id="thin" name="crust" value="Thin">
       <label for="thin">Thin</label><br>
       <input type="radio" id="regular" name="crust" value="Regular" checked>
       <label for="regular">Regular</label><br>
       <input type="radio" id="deepdish" name="crust" value="Deepdish">
       <label for="deepdish">Deep Dish</label>
    </fieldset>

    <fieldset>
      <legend>Sauce:</legend>
       <input type="radio" id="marinara" name="sauce" value="Marinara" checked>
       <label for="marinara">Marinara</label><br>
       <input type="radio" id="bbq" name="sauce" value="BBQ">
       <label for="bbq">BBQ</label><br>
       <input type="radio" id="buffalo" name="sauce" value="Buffalo">
       <label for="buffalo">Buffalo</label>
    </fieldset>

    <fieldset>
      <legend>Cut:</legend>
       <input type="radio" id="normal" name="cut" value="Normal" checked>
       <label for="normal">Normal</label><br>
       <input type="radio" id="square" name="cut" value="Square">
       <label for="square">Square</label>
    </fieldset>
    <fieldset>
      <legend>Cheese:</legend>
       <input type="radio" id="normal" name="cheese" value="Normal" checked>
       <label for="normal">Normal</label><br>
       <input type="radio" id="light" name="cheese" value="Light">
       <label for="light">Light</label><br>
       <input type="radio" id="extra" name="cheese" value="Extra">
       <label for="extra">Extra</label><br>
       <input type="radio" id="extra" name="cheese" value="No">
       <label for="extra">No Cheese</label>
    </fieldset>

    <fieldset>
      <legend>Meats:</legend>
      <div>
        <input type="checkbox" id="anchovies" name="meats" value="Anchovies" />
        <label for="anchovies">Anchovies</label>
      </div>

      <div>
        <input type="checkbox" id="sausage" name="meats" value="Sausage"/>
        <label for="sausage">Sausage</label>
      </div>

      <div>
        <input type="checkbox" id="italianSausage" name="meats" value="Italian Sausage" />
        <label for="italianSausage">Spicy Italian Sausage</label>
      </div>

      <div>
        <input type="checkbox" id="bacon" name="meats" value="Bacon" />
        <label for="bacon">Bacon</label>
      </div>

      <div>
        <input type="checkbox" id="pepperoni" name="meats" value="Pepperoni" />
        <label for="pepperoni">Pepperoni</label>
      </div>

      <div>
        <input type="checkbox" id="chicken" name="meats" value="Chicken" />
        <label for="chicken">Grilled Chicken</label>
      </div>

      <div>
        <input type="checkbox" id="salami" name="meats" value="Salami" />
        <label for="salami">Salami</label>
      </div>

      <div>
        <input type="checkbox" id="steak" name="meats" value="Philly Steak" />
        <label for="steak">Philly Steak</label>
      </div>

      <div>
        <input type="checkbox" id="ham" name="meats" value="Ham" />
        <label for="ham">Canadian Bacon</label>
      </div>

      <div>
        <input type="checkbox" id="beef" name="meats" value="Beef" />
        <label for="beef">Beef</label>
      </div>

      <div>
        <input type="checkbox" id="meatball" name="meats" value="Meatballs" />
        <label for="meatball">Meatball</label>
      </div>
    </fieldset>

    <fieldset>
      <legend>Veggies:</legend>
      <div>
        <input type="checkbox" id="roma" name="veggies" value="Roma Tomatoes" />
        <label for="roma">Roma Tomatoes</label>
      </div>

      <div>
        <input type="checkbox" id="greenOlive" name="veggies" value="Green Olives" />
        <label for="greenOlive">Green Olive</label>
      </div>

      <div>
        <input type="checkbox" id="onion" name="veggies" value="Onions" />
        <label for="onion">Onion</label>
      </div>


      <div>
        <input type="checkbox" id="blackOlive" name="veggies" value="Black Olives" />
        <label for="blackOlive">Black olive</label>
      </div>

      <div>
        <input type="checkbox" id="greenPeppers" name="veggies" value="Green Peppers" />
        <label for="greenPeppers">Green Peppers</label>
      </div>

      <div>
        <input type="checkbox" id="pineapple" name="veggies" value="Pineapple" />
        <label for="pineapple">Pineapple</label>
      </div>


      <div>
        <input type="checkbox" id="bananaPeppers" name="veggies" value="Banana Peppers" />
        <label for="bananaPeppers">Banana Peppers</label>
      </div>

      <div>
        <input type="checkbox" id="spinach" name="veggies" value="Spinach" />
        <label for="spinach">Spinach</label>
      </div>

      <div>
        <input type="checkbox" id="jalapenoPeppers" name="veggies" value="Jalapeno Peppers" />
        <label for="jalapenoPeppers">Jalapeno Peppers</label>
      </div>

      <div>
        <input type="checkbox" id="mushroom" name="veggies" value="Mushrooms" />
        <label for="mushroom">Mushroom</label>
      </div>

    </fieldset>

    <label>Quantity:
    <input type="Number" name="quantity" min=1 max=99 step=1 value=1>
    </label>

    <button type="submit">Add to Deal</button>
    <a href="/order">Cancel</a>
  </form>

  <%- include('../partials/footer') %>